@string-color: #779966;
@comment-color: #886644;

atom-text-editor.editor .lines {

  .syntax--string {
    color: @string-color;
  }

  .syntax--comment {
    color: @comment-color;
  }

  .syntax--punctuation.comment {
    .syntax--comment
  }
}
