@string-color: #779966;
@comment-color: #886644;

atom-text-editor::shadow .lines {

  .string {
    color: @string-color;
  }

  .comment {
    color: @comment-color;
  }

  .punctuation.comment {
    .comment
  }
}
